<% if (locals.activity) { %>
  <div class="main-container activity-details">
    <h1 class="main-title"><%= activity.name %></h1>
    <h3 class="main-description"><%= activity.description %></h3>

    <% if (activity.image) { %>
      <img src="<%= activity.image %>" alt="<%= activity.name %>" class="activity-image"/>
    <% } %>
  </div>
<% } %>