<footer class="footer">
  <div class="footer-container">
    <div class="footer__div-logo">
      <img
        class="logo_image"
        src="/images/logo-1.png"
        alt="nordic adventure logo"
        width="80"
        height="80"
      />
    </div>
    <div class="footer__div_link">
      <a href="https://www.linkedin.com/in/sevilay-g-1662282a3/">
        <img
          src="/images/linkedin.jpg"
          alt="LinkedIn Logo"
          width="500"
          height="500"
          class="linkedin_nav_image"
        />
      </a>
      <a href="https://www.linkedin.com/in/sally-resch">
        <img
          src="/images/linkedin.jpg"
          alt="LinkedIn Logo"
          width="500"
          height="500"
          class="linkedin_nav_image"
        />
      </a>
    </div>
    <p>
      &copy; <%= new Date().getFullYear()%> Nordic Adventures. All rights
      reserved.
    </p>
  </div>
</footer>
