<footer class="footer">
  <div class="footer__div-logo">
    <img
      class="logo_image"
      src="/images/NordicAdventures_logo.png"
      alt="nordic adventure logo"
      width="519"
      height="511"
    />
  </div>
  <div class="footer__div_link">
    <p>Link</p>
    <p>Link</p>
    <p>Link</p>
    <p>Link</p>
  </div>
</footer>
