<footer class="footer">
  <div class="footer-container">
    <div class="footer__div-logo">
      <img class="logo_image" src="/images/NordicAdventures_logo.png" alt="nordic adventure logo" width="519" height="511" />
    </div>
    <div class="footer__div_link">
      <a href="https://www.linkedin.com/in/sevilay-g-1662282a3/">
        <img src="/images/linkedin.jpg" alt="LinkedIn Logo" />
      </a>
      <a href="https://www.linkedin.com/in/sally-resch/?locale=en">
        <img src="/images/linkedin.jpg" alt="LinkedIn Logo" />
      </a>
    </div>
    <p>&copy; <%= new Date().getFullYear()%> Nordic Adventures. All rights reserved.</p>
  </div>
</footer>
