<header class="header">
  <div class="text-content">
    <h1 class="headertitle"><%= pageTitle %></h1>
    <h3 class="headersubtitle"><%= pageSubtitle %></h3>
  </div>
  <%- include('./nav') %>
</header>
