<nav class="nav">
  <a class="logo" href="/">
    <img src="/images/logo_large.png" alt="Site Logo" />
  </a>
  <button class="nav_toggle">☰</button>
  <div class="nav_links">
    <a class="nav_item" href="/">Home</a>
    <a class="nav_item" href="/summer">Summer</a>
    <a class="nav_item" href="/autumn">Autumn</a>
    <a class="nav_item" href="/winter">Winter</a>
  </div>
</nav>
