<%- include("../partials/head") %>
<body>
    <%- include('../partials/header') %>
  <main class="main">
    <% if (locals.dataLists) { %>
     <%- include('../partials/sidebar') %>
    <% } %>
    <section class="sectionAdventures">
        <h4>Welcome to Nordic Adventures</h4>
        <p>Discover the breathtaking beauty of Sweden with Nordic Adventures! From 
        serene forests and crystal-clear lakes to snowy mountains and vibrant 
        autumn landscapes, we offer a wide range of unforgettable experiences 
        for every season. Whether you crave thrilling outdoor activities, 
        cozy cultural experiences, or peaceful nature escapes, our curated 
        adventures let you explore the true essence of Sweden. Come and create 
        memories that will last a lifetime amidst the stunning Nordic scenery.</p>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
