<%- include("../partials/head") %>
<body>
    <%- include('../partials/header') %>
  <main class="main">
    <%- include('../partials/sidebar') %>
    <section class="sectionAdventures">
        <h4>"Welcome to Nordic Adventures"</h4>
        <p>You can experience many exciting activities in Sweden.</p>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
