* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
}

.header {
  background-color: #1c398e;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_toggle {
  display: block;
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  font-size: xx-large;
}

.nav {
  position: relative;
}

.nav_item {
  font-size: 1rem;
  color: #1c398e;
  text-decoration: none;
}

.nav_links {
  position: absolute;
  top: 60px;
  right: -12;
  background-color: hsla(0, 0%, 100%, 0.9);
  border: 1px solid #1c398e;
  flex-direction: column;
  width: 200px;
  padding: 15px;
  gap: 15px;
  display: none;
  border-radius: 10px;

}

.nav_links.active {
  display: flex;
}

.footer {
  background-color: #101828;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.linkedin_nav_image {
  height: 15%;
  width: 15%;
  border-radius: 50%;
}