* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    background-color: #f5f5f5;
}

.headertitle {
    text-align: center;
    font-size: 3rem;
    margin: 0 0 5px 0;
}

.headersubtitle {
    text-align: center;
    font-size: 1rem;
    margin: 0 0 15px 0;
    color: #858383;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff8f8;
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
    width: auto;
}


.nav_links {
    display: flex;
    gap: 20px;
}

.nav_item {
    font-size: 1.5rem;
    text-decoration: none;
    color: #301212;
    font-weight: 500;
    transition: color 0.3s;
}

.nav_item:hover {
    color: #918d41;
}

.footer {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.logo_image {
    width: 81px;
    height: 80px;
}

.p {
    padding: 5px;
}

.p:hover {
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0.1, 0, 0.2);
}